@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap');

html {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: 'Cambay', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
    color: white;
}

main {
    padding-top: 60px;
}

img,
video {
    max-width: 100%;
}

/*==================Student code 7 ===================*/
